{#!
 # Freelancer for Pico v2.0.7 (https://github.com/mayamcdougall/freelancer-pico)
 # Ported by Maya McDougall (https://github.com/mayamcdougall)
 # Based on upstream Freelancer v7.0.4 by Start Bootstrap (https://startbootstrap.com/theme/freelancer)
 # Licensed under MIT (https://github.com/mayamcdougall/freelancer-pico/blob/main/LICENSE)
 #}

{% set tag = url_param('tag', 'string') %}
{% set tags = get_all_tags() %}

{% block content %}
{% if tag %}
    {# List of all pages with a specified tag #}
    <ul>
    {% for page in pages if page.title and tags and not (page.id ends with 'index') %}
        {% if page.meta.tags is iterable %}
            {% set pageTags = page.meta.tags %}
        {% else %}
            {% set pageTags = page.meta.tags|split(',') %}
        {% endif %}
        
        {% for pageTag in pageTags %}
            {% if pageTag|trim == tag %}
                <li>
                    <a href="{{ page.url }}">{{ page.title }}</a>
                    <p>{{ page.description }}</p>
                </li>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </ul>
{#
{% else %}
    List of all tags used on the site
    <ul>
    {% for tag in tags|sort %}
        <li><a href="{{current_page.url}}/?tag={{ tag }}">{{ tag }}</li>
    {% endfor %}
    </ul>
#}
{% endif %}
{% endblock content %}
